.left_lights::after,
.left_lights::before,
.right_lights::after,
.right_lights::before {
  position: absolute;
  pointer-events: none;
  content: '';
  filter: blur(125px);
  mix-blend-mode: normal;
  will-change: filter;
}

.left_lights::before {
  top: calc(50% - 900px / 2 + 151px);
  left: -12.5%;
  z-index: 20;
  width: 25%;
  height: 900px;
  background: linear-gradient(180deg, #77b8ff, rgb(42 138 246 / 40%));
  border-radius: 100% 100% 100% 100% 25% 25% 25% 25%;
  opacity: 0.2;
  transform: rotate(-15deg);
}

.left_lights::after {
  top: calc(50% - 422px / 2 + 298px);
  left: 0;
  width: 40%;
  height: 422px;
  background: linear-gradient(
    180deg,
    rgb(29 92 162 / 20%),
    rgb(42 138 246 / 40%)
  );
  opacity: 0.5;
}

.right_lights::before {
  top: calc(50% - 900px / 2 + 151px);
  right: -12.5%;
  z-index: 20;
  width: 25%;
  height: 900px;
  overflow: hidden;
  background-image: linear-gradient(180deg, rgb(236 151 207 / 40%), #e92a67);
  border-radius: 100% 100% 100% 100% 25% 25% 25% 25%;
  opacity: 0.2;
  transform: rotate(15deg);
}

.right_lights::after {
  top: calc(50% - 422px / 2 + 298px);
  right: 0;
  width: 40%;
  height: 422px;
  background: linear-gradient(180deg, rgb(236 151 207 / 40%), #e92a67);
  opacity: 0.25;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.background_container {
  position: absolute;
  inset: 0;
  z-index: -6;
  overflow: hidden;
  transition: perspective 3s ease 0s;
  perspective: 1000px;
}

/* .background_container::before{
  content: "";
  position: absolute;
} */

.background_container .background_lines {
  position: absolute;
  inset: -100% 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200vw;
  margin-left: -50%;
  overflow: hidden;
  background-image: linear-gradient(
    to right,
    var(--left) 45%,
    transparent 50%,
    var(--right) 55%
  );
  background-position-y: 100%;
  mask-image: linear-gradient(90deg, #000 2px, transparent 0),
    linear-gradient(180deg, #000 2px, transparent 0);
  mask-repeat: repeat;
  mask-position: 50% 0;
  mask-size: 80px 80px;
  transform: translateY(0);
  animation: background-go-up 30s linear infinite;
}

@keyframes background-go-up {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(calc(50% + 28px));
  }
}
